[Unit]
Description=geth

[Service]
User=ethereum
Group=ethereum
ExecStart=/bin/bash --login -c "/home/ethereum/go-ethereum/build/bin/geth --config /home/ethereum/eth_node_client/config/geth.config"
Restart=always
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target