[Unit]
Description=Warden Service


[Service]
Type=simple
ExecStart=/root/eth_node_client/warden.py
Restart=always
StartLimitBurst=3
StartLimitInterval=60s