[Unit]
Description=Warden Service


[Service]
User=root
Group=root
ExecStart=/usr/bin/python /root/eth_node_client/warden.py
Restart=always
StartLimitBurst=3
StartLimitInterval=60s